@import "fonts";
@import "base";
@import "specification";

//***************************header******************************
header {
  background: transparent;
  z-index: 5;
}

header.header-light {
  z-index: 2;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  .header-top {
    background: rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
  }
  .header-top-contacts svg path {
    fill: #fff;
  }
  .header-top-contacts span {
    color: #fff;
  }
  .header-logo img {
    display: none;
  }
  .header-logo img.header-logo-light {
    display: block;
  }
  .header-nav a {
    color: #fff;
  }
  .header-phone svg path {
    fill: #fff;
  }
  .header-phone-numbers p {
    color: #fff;
  }
  .header-phone-numbers span {
    color: #fff;
  }
  .header-callback {
    border: 1px solid rgba(255, 255, 255, 0.09);
  }
  .header-callback span {
    color: #fff;
  }
  .show-header-nav span {
    background: #fff;
  }
  .show-mobile-menu span {
    background: #fff;
  }
}

.header-top {
  background: rgba(51, 51, 51, 0.04);
  backdrop-filter: blur(4px);
  padding: 7px 0;
}

.header-top-contacts {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.header-top-contacts span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-left: 6px;
}

.header-top-contacts li {
  display: flex;
  align-items: center;
}

.header-top-contacts li + li {
  margin-left: 25px;
}

.header-main-content {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header-logo-light {
  display: none;
}

.mobile-menu {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 45px;
}

.header-nav-wrapper {
  position: relative;
  margin-right: auto;
}

.show-header-nav {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  z-index: 9;
}

.header-nav li + li {
  margin-left: 40px;
}

.header-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  display: inline-block;
  padding: 30px 0;
}

.header-nav a.active:after {
  content: '';
  background: #FF671D;
  width: calc(100% + 45px);
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.header-nav a:after {
  content: '';
  background: #FF671D;
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s ease;
}

.header-nav a:hover:after {
  width: calc(100% + 45px);
}

.header-phone {
  display: flex;
  margin-left: 30px;
}

.header-phone:hover {
  svg {
    animation-name: call;
    animation-duration: 0.2s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: 2;
  }
}

@keyframes call {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(-30deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(30deg)}
  100% {transform: rotate(0deg)}
}

.header-phone-numbers {
  margin-left: 10px;
  text-align: right;
}

.header-phone-numbers p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 2px;
}

.header-phone-numbers span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  opacity: 0.5;
  display: block;
}

.header-callback {
  margin-left: 15px;
  border: 1px solid rgba(51, 51, 51, 0.09);
  border-radius: 20px;
  padding: 11px 25px;
}

.header-callback span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  display: block;
}

.show-mobile-menu {
  display: none;
}
//***************************header******************************

//***************************main-wrapper******************************
.main-slider {
  width: 100%;
  margin-top: -110px;
}

.main-slider-item {
  padding-top: 350px;
  height: 100%;
  position: relative;
}

.slider-nav-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 320px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: none;
}

.swiper-button-prev {
  border: 1px solid #FFFFFF;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  position: static;
}

.swiper-button-next {
  border: 1px solid #FF671D;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  position: static;
  margin-left: 12px;
}

.swiper-button-prev:before {
  content: '';
  background: url("../img/icon/arrow-prev.svg");
  width: 24px;
  height: 24px;
}

.swiper-button-next:before {
  content: '';
  background: url("../img/icon/arrow-next.svg");
  width: 24px;
  height: 24px;
}

.slider-title {
  padding: 0 0 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slider-title h2 {
  font-weight: 500;
  font-size: 90px;
  line-height: 110%;
  color: #FFFFFF;
  margin-right: 40px;
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.slider-title .next-slide-text {
  color: #A0A0A0;
  display: block;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: calc(100% + 40px);
}

.slider-detail {
  padding: 35px 0 55px 0;
  position: relative;
}

.slider-detail-content {
  display: flex;
  align-items: center;
}

.slider-detail-text {
  margin-left: 100px;
}

.slider-detail-text h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.slider-detail-info {
  display: flex;
  margin-left: 90px;
}

.slider-detail-info li + li {
  margin-left: 55px;
}

.slider-detail-info li p {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 2px;
}

.slider-detail-info li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.51);
  display: block;
}

.slide-1 {
  background: url("../img/content/slide1.png") no-repeat center/cover;
  position: relative;
}

.slide-2 {
  background: url("../img/content/slide2.png") no-repeat center/cover;
}

.slider-video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider-video-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.slider-video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lamp1 {
  position: absolute;
  bottom: 0;
  right: 28%;
  width: 190px;
  height: 528px;
}

.lamp1:before {
  content: '';
  background: linear-gradient(180deg, #FFFFFF 0%, #FF671D 100%);
  filter: blur(4px);
  width: 51px;
  height: 6px;
  position: absolute;
  top: 6.7%;
  left: 13.7%;
}

.lamp1:after {
  content: '';
  background: url("../img/content/lamp1-light.png") no-repeat center/cover;
  //background-size: cover;
  position: absolute;
  right: 3%;
  top: 0;
  width: 336px;
  height: 494px;
}

.lamp2:before {
  content: '';
  background: linear-gradient(180deg, #FFFFFF 0%, #FF671D 100%);
  filter: blur(4px);
  width: 75px;
  height: 8px;
  position: absolute;
  top: 5.7%;
  left: 13.7%;
  border-radius: 50%;
}

.lamp2:after {
  content: '';
  background: url("../img/content/lamp2-light.png");
  position: absolute;
  right: 3%;
  top: 2%;
  width: 495px;
  height: 726px;
}

.lamp2.not-light, .lamp1.not-light {
  &:before {
    opacity: 0;
  }
  &:after {
    opacity: 0;
  }
}

.lamp2 {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 224px;
  height: 100%;
}

.lamp1 img, .lamp2  img {
  width: 100%;
  height: 100%;
}

.quality {
  padding: 100px 0 80px 0;
  background: #EFF1F4 url("../img/main/vector.png") no-repeat top center;
  position: relative;
}

.line-1 {
  position: absolute;
  left: 0;
  top: 30%;
}

.line-2 {
  position: absolute;
  left: 0;
  top: 78%;
}

.line-3 {
  position: absolute;
  right: 0;
  top: 78%;
}

.quality-title {
  text-align: center;
}

.quality-title .main-title {
  width: fit-content;
}

.quality-title .title-wrapper {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.quality-title .title-wrapper:before {
  content: '';
  background: url("../img/icon/quote-left.svg") no-repeat center/contain;
  width: 35px;
  height: 27px;
  position: absolute;
  top: -20px;
  left: -35px;
}

.quality-title .title-wrapper:after {
  content: '';
  background: url("../img/icon/quote-right.svg") no-repeat center/contain;
  width: 35px;
  height: 27px;
  position: absolute;
  top: -20px;
  right: -35px;
}

.quality-title h6 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FF671D;
}

.quality-card-wrapper .main-title {
  text-align: center;
}

.quality-card {
  margin-top: 24px;
  background: #FFFFFF;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  padding: 40px 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.quality-card-item {
  text-align: center;
  max-width: calc(33.3% - 50px);
}

.quality-card-item h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  margin-top: 22px;
}

.quality-card-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.lighting-box {
  position: relative;
  margin-top: 25px;
}

.lighting-box img {
  width: 100%;
  height: auto;
}

.tooltip-white {
  position: absolute;
  padding: 16px 18px 19px 16px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%);
  z-index: 2;
}

.tooltip-white span {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  background: linear-gradient(90.62deg, #FF671D 6.8%, #C41DFF 131.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: block;
}

.tooltip-white:after {
  content: '';
  height: 14px;
  width: 14px;
  background: #fff;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.lighting-design {
  top: 2%;
  left: 26.8%;
}

.lux-Calculation {
  top: 35%;
  left: 6%;
}

.installation-support {
  top: 54%;
  left: 42.5%;
}

.boq {
  top: 36%;
  left: 79%;
}

.subscribe-sm {
  background: #508DF7;
  box-shadow: 40px 40px 120px rgba(3, 28, 70, 0.06);
  position: relative;
  z-index: 1;
}

.subscribe-sm .container-cut {
  padding: 30px 120px;
}

.subscribe-sm-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-sm-left {
  width: 31%;
}

.subscribe-sm-left h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.subscribe-sm-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ADC1FF;
  margin-top: 5px;
}

.subscribe-sm-form {
  display: flex;
  width: 63%;
}

.subscribe-sm-form input {
  background: #73A6FF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.subscribe-sm-form input::placeholder {
  color: #fff;
}

.subscribe-sm-form .btn-custom {
  margin-left: 10px;
}

.main-holder {
  background: #EFF1F4;
  padding-bottom: 80px;
  position: relative;
}

.line-4 {
  position: absolute;
  right: 0;
  top: -3%;
}

.vision-brands {
  padding: 80px 0 0 0;
  display: flex;
  position: relative;
}

.vision-card {
  width: 41%
}

.brand-card {
  width: 59%;
  margin-left: 16px;
}

.vision-brands-card {
  background: #FFFFFF;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  overflow: hidden;
}

.vision-brands-img {
  position: relative;
  height: 195px;
  width: 100%;
  overflow: hidden;
}

.vision-card .vision-brands-img img:not(.vision-logo) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease;
}

.brand-card .vision-brands-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease;
}

.vision-brands-card:hover .vision-brands-img img:not(.vision-logo) {
  transform: scale(1.15);
}

.vision-brands-caption {
  padding: 25px 30px 40px 30px;
}

.vision-brands-caption h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #333333;
}

.vision-brands-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.vision-brands-caption .text-link {
  margin-top: 20px;
}

.vision-logo {
  position: absolute;
  bottom: 30px;
  left: 24px;
  width: 98px;
  height: 38px;
}

.vision-logo img {
  width: 100%;
  height: 100%;
}

.brand-card .vision-brands-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.brand-slider {
  width: 100%;
}

.brand-slider {
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide div:not(.brand-slider-item) {
    width: fit-content;
    height: fit-content;
    padding: 15px 0;
  }
  .slick-slide + .slick-slide {
    margin-left: 20px;
  }
}

.brand-slider-item {
  width: fit-content;
}

.brand-slider img {
  max-height: 65px;
}

.projects {
  margin-top: 24px;
  width: 100%;
  height: fit-content;
  background: #508DF7;
  border-radius: 16px;
  overflow: hidden;
}

.projects-top {
  display: flex;
  align-items: center;
  padding: 30px;
}

.projects-top h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.projects-tab {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border-bottom: none;
}

.projects-tab li + li {
  margin-left: 12px;
}

.projects-tab .main-project-tab {
  border: 1px solid #80AEFF;
  border-radius: 20px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  white-space: nowrap;
  background: transparent;
}

.projects-tab .main-project-tab.active {
  background: #FF671D;
  border-color: #FF671D;
  color: #FFFFFF;
}

.projects-link {
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 10.5px 25px;
}

.projects-link span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 8px;
}

.projects-body {
  background: #679EFE;
  border-radius: 16px 16px 0 0;
  padding: 40px 0;
}

.projects-item {
  width: 245px;
  height: 265px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  user-select: none;
}

.projects-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.projects-item p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  z-index: 2;
}

.insight {
  filter: drop-shadow(0 40px 120px rgba(3, 28, 70, 0.06));
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  margin-top: 24px;
  min-height: 355px;
}

.insight-left {
  width: 51%;
  background: #FFFFFF;
  padding: 30px;
  position: relative;
}

.insight-left:before {
  content: '';
  background: url("../img/main/insight-cloud1.png");
  width: 170px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.insight-left:after {
  content: '';
  background: url("../img/main/insight-cloud2.png");
  width: 328px;
  height: 191px;
  position: absolute;
  right: 2rem;
  bottom: 0;
}

.insight-left h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #333333;
}

.insight-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.insight-left .text-link {
  margin-top: 12px;
}

.insight-right {
  width: 49%;
  background: #FAFAFA;
  padding: 0 30px;
}

.insight-slider {
  height: 355px;
}

.insight-item {
  border-radius: 16px;
  padding: 35px 15px 35px 35px;
  height: fit-content!important;
  user-select: none;
}

.insight-item-top {
  display: flex;
  align-items: center;
}

.insight-item-top span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.insight-item-top h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-left: 16px;
}

.insight-item-content {
  margin-top: 10px;
}

.insight-item-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
}

.insight-item {
  &.success {
    background: #D5E9CD;
    .insight-item-top span {
      background: #528F3A;
    }
    .insight-item-top h6 {
      color: #528F3A;
    }
  }
  &.warning {
    background: #FFE5D8;
    .insight-item-top span {
      background: #FF671D;
    }
    .insight-item-top h6 {
      color: #FF671D;
    }
  }
  &.info {
    background: #E3EDFF;
    .insight-item-top span {
      background: #508CF5;
    }
    .insight-item-top h6 {
      color: #508CF5;
    }
  }
}

.subscribe-lg {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #364257;
  border-radius: 16px;
  padding: 100px 150px;
  position: relative;
  background: url("../img/main/subscribe-lg-bg.png") no-repeat center/cover;
}

.main-page .subscribe-lg {
  margin-top: 40px;
}

.main-page .subscribe-lg:before {
  content: '';
  background: #CAD0DB;
  height: calc(100% - 120px);
  width: 20px;
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.main-page .subscribe-lg:after {
  content: '';
  background: #CAD0DB;
  height: calc(100% - 120px);
  width: 20px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.subscribe-lg h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-lg-form {
  max-width: 390px;
  margin-top: 24px;
}

.subscribe-lg-form input {
  background: #545D6B;
  color: #fff;
}

.subscribe-lg-form input + input:not(.form-half input + input) {
  margin-top: 12px;
}

.subscribe-lg-form input::placeholder {
  color: #99A4B5;
}

.subscribe-lg-form .form-half {
  margin-bottom: 12px;
}

.subscribe-lg-form .btn-custom {
  width: 100%;
  margin-top: 24px;
}

.news {
  margin-top: 80px;
}

.news-card-wrapper {
  margin: 30px -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}

.news-card {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}

.news-card:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

.news-card-img {
  width: 200px;
  flex-shrink: 0;
  height: auto;
}

.news-card-img img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

.news-card-caption {
 padding: 24px 20px;
}

.news-card-caption h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #444D6D;
}

.news-card-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 35px;
}

//*******************************footer*****************************
footer {
  background: #2F3848;
  padding: 30px 0;
}

.footer-content {
  display: flex;
}

.footer-main {
  margin-left: 170px;
  margin-right: 30px;
}

.footer-nav {
  display: flex;
}

.footer-nav li + li {
  margin-left: 40px;
}

.footer-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.footer-nav a:after {
  content: "";
  background: #ff671d;
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: .3s ease;
}

.footer-nav a:hover:after {
  width: calc(100% + 25px);
}

.footer-phone {
  display: flex;
  align-items: center;
  margin-top: 27px;
  width: fit-content;
}

.footer-phone-numbers {
  margin-left: 12px;
}

.footer-phone-numbers p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-phone-numbers span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 2px;
  display: block;
}

.footer-top-contacts {
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.footer-top-contacts li {
  display: flex;
  align-items: center;
}

.footer-top-contacts li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: block;
  margin-left: 6px;
}

.footer-top-contacts li + li {
  margin-left: 25px;
}

.footer-social {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: fit-content;
}

.footer-social a:hover svg path {
  fill: rgba(255, 255, 255, 0.6)
}

.footer-social li + li {
  margin-left: 35px;
}
//*******************************footer*****************************


.complex-notice {
  display: flex;
}

.complex-notice-caption {
  width: 54%;
  padding-right: 10px;
}

.complex-notice-img {
  width: 46%;
  padding-top: 15px;
}

.complex-notice-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.complex-notice .main-title {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
}

.complex-notice .main-title:before {
  content: '';
  background: #FF671D;
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.complex-notice-caption .notice-caption-item {
  margin-top: 16px;
}

.complex-notice-caption ul li {
  position: relative;
  padding-left: 24px;
}

.complex-notice-caption ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #444D6D;
  position: absolute;
  top: 9px;
  left: 9px;
}

.partners {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide {
  width: fit-content;
}

.partners-list img {
  max-height: 58px;
}

.notice-card {
  margin-top: 100px;
  background: linear-gradient(91.74deg, #EFF1F4 1.39%, rgba(239, 241, 244, 0) 103.99%);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  align-items: center;
}

.notice-card-img {
  width: 142px;
  height: 142px;
  flex-shrink: 0;
}

.notice-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notice-card-caption {
  margin-left: 36px;
}

.notice-card-caption p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.info-card {
  background: #EFF1F4 url("../img/main/vector.png") ;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  padding: 65px 30px;
  display: flex;
  position: relative;
  margin-top: 24px;
}

.info-card-caption {
  width: 67%;
  padding-right: 60px;
  z-index: 2;
}

.info-card-caption h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.info-card-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 19px;
}

.info-card-img {
  position: absolute;
  left: 67%;
  bottom: 0;
  z-index: 2;
}

.info-card-img img {
  width: 100%;
  height: auto;
}

.info-card-line {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-card-line img {
  position: absolute;
}

.info-card-line img:nth-child(1) {
  top: 64%;
  right: 0;
}

.info-card-line img:nth-child(2) {
  top: 0;
  right: 46%;
}

.info-card-line img:nth-child(3) {
  top: 18%;
  right: 22%;
}

.info-card-line img:nth-child(4) {
  top: 19%;
  right: 0;
}

.info-card-line img:nth-child(5) {
  top: 0;
  right: 1%;
}

.info-card-line img:nth-child(6) {
  top: 16%;
  right: 0;
}

.info-card-line img:nth-child(7) {
  top: 72%;
  right: 7%;
}

.info-card-line img:nth-child(8) {
  top: 91%;
  right: 54%;
}

.info-card-line img:nth-child(9) {
  top: 49%;
  right: 27%;
}

.provider {
  margin-top: 100px;
}

.provider .main-title {
  max-width: 480px;
}

.indicators-nav {
  display: flex;
  margin-top: 44px;
  z-index: 2;
  position: relative;
}

.indicators-nav li+li {
  margin-left: 60px;
}

.indicators-nav li p {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FF671D;
  margin-bottom: 2px;
}

.indicators-nav li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(44, 44, 44, 0.51);
  display: block;
}

.provider-scheme {
  margin-left: auto;
  margin-top: -155px;
  width: 90%;
  z-index: 1;
}

.provider-scheme img {
  width: 100%;
  height: auto;
}

.img-notice {
  display: flex;
}

.img-notice .notice-left {
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #DAE6FB;
}

.img-notice .notice-right {
  width: 50%;
  padding-left: 40px;
}

.notice-img {
  width: 100%;
  max-height: 550px;
  height: auto;
}

.notice-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notice-caption .notice-caption-item {
  margin-top: 30px;
}

.notice-caption .notice-caption-item {
  display: flex;
}

.img-notice .insight-item {
  margin-top: 30px;
}

.about-page .img-notice {
  margin-top: 150px;
}

.about-page .subscribe-lg {
  margin-top: 100px;
}

.about-page {
  padding-bottom: 100px;
}

.number-circle {
  width: 24px;
  height: 24px;
  background: #F0F2F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.notice-caption-item .number-circle {
  margin-right: 10px;
}

.service-page .img-notice + .img-notice {
  margin-top: 100px;
}

.partners h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
  color: #333333;
}

.service-page .subscribe-lg {
  margin-top: 100px;
}

.service-page {
  padding-bottom: 100px;
}

.lumina-add {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.lumina-add .add-left {
  width: 50%;
  position: relative;
  z-index: 1;
}

.lumina-add .main-text {
  margin-top: 30px;
}

.lumina-add .btn-wrapper {
  margin-top: 30px;
  display: flex;
}

.callback-btn {
  display: flex;
  justify-content: center;
  padding: 0 25px;
  min-height: 40px;
  align-items: center;
  border: 1px solid rgba(51, 51, 51, 0.09);
  border-radius: 20px;
}

.callback-btn span {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
}

.lumina-add .add-right {
  width: 50%;
  margin-left: 80px;
  position: relative;
}

.add-left img {
  width: 100%;
  height: auto;
  position: relative;
}

.lumina-add .add-left:before {
  content: '';
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 302px;
  height: 302px;
  border-radius: 50%;
  border: 1px dashed #FF671D;
}

.partners-page .partners {
  margin-top: 80px;
}

.partners-page .quality-card {
  margin-top: 80px;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
}

.partners-page .img-notice {
  margin-top: 105px;
}

.partners-page {
  padding-bottom: 100px;
}

.partners-page .subscribe-lg {
  margin-top: 100px;
}

.projects-content {
  display: flex;
  margin-top: 40px;
}

.projects-page .projects-content {
  padding-bottom: 100px;
}

.projects-tablink-wrapper {
  background: #FFFFFF;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  padding: 30px 16px 27px 30px;
  width: 22%;
  display: block;
  height: fit-content;
}

.projects-tablink {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  position: relative;
  padding-right: 25px;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.projects-tablink + .projects-tablink {
  margin-top: 27px;
}

.projects-tablink.active {
  background: linear-gradient(90.62deg, #FF671D 6.8%, #C41DFF 131.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.projects-tablink.active:after {
  content: '';
  background: url("../img/icon/chevron-right.svg");
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.projects-tab-content {
  width: calc(78% - 55px);
  margin-left: 55px;
}

.project-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  position: relative;
}

.project-card {
  width: calc(25% - 30px);
  margin: 15px;
  height: 240px;
  position: relative;
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.project-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  z-index: 1;
}

.project-detail-page .projects-content {
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.project-info-text {
  width: fit-content;
}

.project-info-text p {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FF671D;
}

.project-info-text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(44, 44, 44, 0.51);
  display: block;
  margin-top: 2px;
}

.project-info-text:first-child {
  margin-right: 90px;
  margin-bottom: 50px;
}

.project-info-text + .project-info-text {
  margin-right: 90px;
  margin-bottom: 50px;
}

.project-info-gallery {
  margin-top: 10px;
}

.project-info-gallery h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #333333;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px -10px -10px;
}

.project-gallery img {
  max-height: 272px;
  margin: 10px;
}

.insights-list {
  display: flex;
  flex-wrap: wrap;
  margin: 18px -12px -12px -12px;
  padding-bottom: 60px;
}

.insights-item {
  width: calc(33.3% - 24px);
  margin: 12px;
  background: #FAFAFA;
  border-radius: 16px;
  padding: 23px 30px;
  position: relative;
  transition: 0.4s ease;
}

.insights-item:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.insight-date span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #6E7F9C;
  display: block;
}

.insight-text {
  margin-top: 8px;
}

.insight-text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.insights-page {
  display: flex;
  flex-direction: column;
}

.insights-page .subscribe-sm {
  margin-top: auto;
}

.project-detail-page {
  display: flex;
  flex-direction: column;
}

.project-detail-page .subscribe-sm {
  margin-top: auto;
}

.insight-content img {
  max-height: 250px;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  margin: 15px 0;
}

.insight-content .main-title {
  margin-top: 30px;
}

.insight-content-date {
  margin-top: 18px;
}

.insight-content-date span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #6E7F9C;
  display: block;
}

.insight-content-text {
  margin-top: 30px;
}

.insight-content-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
}

.insight-content-text p + p {
  margin-top: 16px;
}

.insight-content {
  padding-bottom: 100px;
}

.insight-detail-page {
  display: flex;
  flex-direction: column;
}

.insight-detail-page .subscribe-sm {
  margin-top: auto;
}

.subscribe-md {
  border-radius: 16px;
  overflow: hidden;
  padding: 40px 210px;
  text-align: center;
  background: #EAEEF6 url("../img/main/subscribe-md-bg.png");
}

.subscribe-md-content {
  margin: 0 auto;
  box-shadow: 0 5px 80px #EAEEF6;
}

.subscribe-md h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #333333;
}

.subscribe-md-form {
  max-width: 390px;
  margin: 24px auto 0 auto;
}

.subscribe-md-form .form-half {
  margin-bottom: 12px;
}

.subscribe-md-form input {
  background: #FAFAFA;
}

.subscribe-md-form input + input:not(.form-half input + input) {
  margin-top: 12px;
}

.subscribe-md-form input::placeholder {
  color: #99A4B5;
}

.subscribe-md-form .btn-custom {
  margin-top: 24px;
  width: 100%;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 48px -12px;
}

.contact-list-item {
  margin: 12px;
}

.contact-link {
  width: calc(33.3% - 24px);
  margin: 12px;
  border: 1px solid #AAB3C1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 22px 20px;
  transition: 0.3s ease;
}

.contact-link:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.contact-link-img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #FFE5D8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.contact-link-caption {
  margin-left: 24px;
}

.contact-link-caption span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #6E7F9C;
  display: block;
}

.contact-link-caption p {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  margin-top: 4px;
}

.contacts-page {
  padding-bottom: 60px;
}

.map {
  margin-top: 50px;
  width: 100%;
  height: 340px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

//added styles
.slider-bottom {
  display: flex;
  align-items: center;
}

.slider-bottom h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 40px;
  max-width: 280px;
  margin-right: 40px;
}

.slider-subscribe {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.slider-subscribe input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.slider-subscribe input::placeholder {
  color: #FFFFFF;
}

.slider-subscribe button {
  margin-left: 10px;
}

.partners-list-item {
  position: relative;
}

.text-notice {
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.text-notice-caption {
  width: 57%;
}

.text-notice-caption h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.text-notice-caption p {
  margin-top: 19px;
}

.text-notice-img {
  width: calc(43% - 50px);
  margin-left: 50px;
  border-radius: 16px;
  overflow: hidden;
}

.text-notice-img img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.animate__fadeInDown, .animate__fadeInUp {
  --animate-duration: 1s;
}

.slider-title h2 {
  opacity: 0;
}

.slider-title h2.animate__fadeInRight {
  opacity: 1;
}

.animate__fadeInRight {
  --animate-duration: 0.8s;
  --animate-delay: 10s;
}

.switch-btn {
  position: absolute;
  width: 18px;
  height: 55px;
  border: 2px solid #fff;
  left: 51%;
  top: 270px;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  border-radius: 5px;
  transition: 0.2s ease;
}

.switch-btn:before {
  content: '';
  height: 500px;
  border-left: 2px dashed #fff;
  position: absolute;
  top: -500px;
  left: calc(50% - 1px);
}

.switch-btn:active {
  transform: translateY(25px);
}

.modal-content {
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 20px 25px;
}

.modal-header {
  padding: 0;
  border-bottom: 0;
  position: relative;
  z-index: 1;
}

.modal-close {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.modal-body {
  padding: 0;
  text-align: center;
  margin-top: -24px;
  border: none;
}

.check-orange {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  background: #FFE5D8;
  border-radius: 50%;
  margin: 0 auto;
}

.modal-body h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #333333;
  margin-top: 20px;
}

.modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #444D6D;
  margin-top: 12px;
}

.modal-footer {
  padding: 0 40px;
  margin-top: 30px;
  border: none;
}

.modal-footer .btn-custom {
  width: 100%;
}



@import "media";