@import "fonts";
@import "base";
@import "specification";

//***************************header******************************
header {
  background: transparent;
}

header.header-light {
  z-index: 2;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  .header-top {
    background: rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
  }
  .header-top-contacts svg path {
    fill: #fff;
  }
  .header-top-contacts span {
    color: #fff;
  }
  .header-logo img {
    display: none;
  }
  .header-logo img.header-logo-light {
    display: block;
  }
  .header-nav a {
    color: #fff;
  }
  .header-phone svg path {
    fill: #fff;
  }
  .header-phone-numbers p {
    color: #fff;
  }
  .header-phone-numbers span {
    color: #fff;
  }
  .header-callback {
    border: 1px solid rgba(255, 255, 255, 0.09);
  }
  .header-callback span {
    color: #fff;
  }
  .show-header-nav span {
    background: #fff;
  }
  .show-mobile-menu span {
    background: #fff;
  }
}

.header-top {
  background: rgba(51, 51, 51, 0.04);
  backdrop-filter: blur(4px);
  padding: 7px 0;
}

.header-top-contacts {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.header-top-contacts span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-left: 6px;
}

.header-top-contacts li {
  display: flex;
  align-items: center;
}

.header-top-contacts li + li {
  margin-left: 25px;
}

.header-main-content {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header-logo-light {
  display: none;
}

.mobile-menu {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 45px;
}

.header-nav-wrapper {
  position: relative;
  margin-right: auto;
}

.show-header-nav {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav li + li {
  margin-left: 40px;
}

.header-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  display: inline-block;
  padding: 30px 0;
}

.header-nav a.active:after {
  content: '';
  background: #FF671D;
  width: calc(100% + 45px);
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.header-phone {
  display: flex;
  margin-left: 30px;
}

.header-phone-numbers {
  margin-left: 10px;
  text-align: right;
}

.header-phone-numbers p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 2px;
}

.header-phone-numbers span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  opacity: 0.5;
  display: block;
}

.header-callback {
  margin-left: 15px;
  border: 1px solid rgba(51, 51, 51, 0.09);
  border-radius: 20px;
  padding: 11px 25px;
}

.header-callback span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  display: block;
}

.show-mobile-menu {
  display: none;
}
//***************************header******************************

//***************************main-wrapper******************************
.main-slider {
  width: 100%;
  min-height: 740px;
  margin-top: -110px;
}

.main-slider-item {
  padding-top: 450px;
}

.slider-nav-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 390px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: none;
}

.swiper-button-prev {
  border: 1px solid #FFFFFF;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  position: static;
}

.swiper-button-next {
  border: 1px solid #FF671D;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  position: static;
  margin-left: 12px;
}

.swiper-button-prev:before {
  content: '';
  background: url("../img/icon/arrow-prev.svg");
  width: 24px;
  height: 24px;
}

.swiper-button-next:before {
  content: '';
  background: url("../img/icon/arrow-next.svg");
  width: 24px;
  height: 24px;
}

.slider-title {
  padding: 0 0 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slider-title h2 {
  font-weight: 500;
  font-size: 102px;
  line-height: 110%;
  color: #FFFFFF;
}

.slider-detail {
  padding: 30px 0 50px 0;
}

.slider-detail-content {
  display: flex;
  align-items: center;
}

.slider-detail-text {
  margin-left: 100px;
}

.slider-detail-text h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.slider-detail-info {
  display: flex;
  margin-left: 90px;
}

.slider-detail-info li + li {
  margin-left: 55px;
}

.slider-detail-info li p {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 2px;
}

.slider-detail-info li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.51);
  display: block;
}

.slide-1 {
  background: url("../img/content/slide1.png") no-repeat center/cover;
}

.quality {
  padding: 100px 0 80px 0;
  background: #EFF1F4 url("../img/main/vector.png") no-repeat top center;
  position: relative;
}

.line-1 {
  position: absolute;
  left: 0;
  top: 30%;
}

.line-2 {
  position: absolute;
  left: 0;
  top: 78%;
}

.line-3 {
  position: absolute;
  right: 0;
  top: 78%;
}

.quality-title {
  text-align: center;
}

.quality-title .main-title {
  width: fit-content;
}

.quality-title .title-wrapper {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.quality-title .title-wrapper:before {
  content: '';
  background: url("../img/icon/quote-left.svg") no-repeat center/contain;
  width: 35px;
  height: 27px;
  position: absolute;
  top: -20px;
  left: -35px;
}

.quality-title .title-wrapper:after {
  content: '';
  background: url("../img/icon/quote-right.svg") no-repeat center/contain;
  width: 35px;
  height: 27px;
  position: absolute;
  top: -20px;
  right: -35px;
}

.quality-title h6 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FF671D;
}

.quality-card-wrapper .main-title {
  text-align: center;
}

.quality-card {
  margin-top: 24px;
  background: #FFFFFF;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  padding: 40px 50px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

.quality-card-item {
  text-align: center;
  max-width: calc(33.3% - 50px);
}

.quality-card-item h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  margin-top: 22px;
}

.quality-card-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.lighting-box {
  position: relative;
  margin-top: 25px;
}

.lighting-box img {
  width: 100%;
  height: auto;
}

.tooltip-white {
  position: absolute;
  padding: 16px 18px 19px 16px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%)
}

.tooltip-white span {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  background: linear-gradient(90.62deg, #FF671D 6.8%, #C41DFF 131.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: block;
}

.tooltip-white:after {
  content: '';
  height: 14px;
  width: 14px;
  background: #fff;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.lighting-design {
  top: 2%;
  left: 26.8%;
}

.lux-Calculation {
  top: 35%;
  left: 6%;
}

.installation-support {
  top: 54%;
  left: 42.5%;
}

.boq {
  top: 36%;
  left: 79%;
}

.subscribe-sm {
  background: #508DF7;
  box-shadow: 40px 40px 120px rgba(3, 28, 70, 0.06);
  position: relative;
}

.subscribe-sm .container-cut {
  padding: 30px 160px;
}

.subscribe-sm-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-sm-left {
  width: 31%;
}

.subscribe-sm-left h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.subscribe-sm-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ADC1FF;
  margin-top: 5px;
}

.subscribe-sm-form {
  display: flex;
  width: 63%;
}

.subscribe-sm-form input {
  background: #73A6FF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.subscribe-sm-form input::placeholder {
  color: #fff;
}

.subscribe-sm-form .btn-custom {
  margin-left: 10px;
}

.main-holder {
  background: #EFF1F4;
  padding-bottom: 80px;
  position: relative;
}

.line-4 {
  position: absolute;
  right: 0;
  top: -3%;
}

.vision-brands {
  padding: 80px 0 0 0;
  display: flex;
  position: relative;
}

.vision-card {
  width: 41%
}

.brand-card {
  width: 59%;
  margin-left: 16px;
}

.vision-brands-card {
  background: #FFFFFF;
  box-shadow: 0 40px 120px rgba(3, 28, 70, 0.06);
  border-radius: 16px;
  overflow: hidden;
}

.vision-brands-img {
  position: relative;
  height: 195px;
  width: 100%;
}

.vision-card .vision-brands-img img:not(.vision-logo) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vision-brands-caption {
  padding: 25px 30px 40px 30px;
}

.vision-brands-caption h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #333333;
}

.vision-brands-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.vision-brands-caption .text-link {
  margin-top: 20px;
}

.vision-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand-card .vision-brands-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.brand-card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand-card ul img {
  max-height: 65px;
}

.projects {
  margin-top: 24px;
  width: 100%;
  height: fit-content;
  background: #508DF7;
  border-radius: 16px;
  overflow: hidden;
}

.projects-top {
  display: flex;
  align-items: center;
  padding: 30px;
}

.projects-top h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.projects-tab {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.projects-tab li + li {
  margin-left: 12px;
}

.projects-tab button {
  border: 1px solid #80AEFF;
  border-radius: 20px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  white-space: nowrap;
  background: transparent;
}

.projects-tab button.active {
  background: #FF671D;
  border-color: #FF671D;
}

.projects-link {
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 10.5px 25px;
}

.projects-link span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 8px;
}

.projects-body {
  background: #679EFE;
  border-radius: 16px 16px 0 0;
  padding: 40px 0;
}

.projects-item {
  width: 245px;
  height: 265px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  align-items: flex-end;
}

.projects-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.projects-item p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  z-index: 2;
}

.insight {
  filter: drop-shadow(0 40px 120px rgba(3, 28, 70, 0.06));
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  margin-top: 24px;
  min-height: 355px;
}

.insight-left {
  width: 51%;
  background: #FFFFFF;
  padding: 30px;
  position: relative;
}

.insight-left:before {
  content: '';
  background: url("../img/main/insight-cloud1.png");
  width: 170px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.insight-left:after {
  content: '';
  background: url("../img/main/insight-cloud2.png");
  width: 328px;
  height: 191px;
  position: absolute;
  right: 2rem;
  bottom: 0;
}

.insight-left h6 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #333333;
}

.insight-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 12px;
}

.insight-left .text-link {
  margin-top: 12px;
}

.insight-right {
  width: 49%;
  background: #FAFAFA;
  padding: 0 30px;
}

.insight-slider {
  height: 355px;
}

.insight-item {
  border-radius: 16px;
  padding: 35px 15px 35px 35px;
  height: fit-content!important;
}

.insight-item-top {
  display: flex;
  align-items: center;
}

.insight-item-top span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.insight-item-top h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-left: 16px;
}

.insight-item-content {
  margin-top: 10px;
}

.insight-item-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
}

.insight-item {
  &.success {
    background: #D5E9CD;
    .insight-item-top span {
      background: #528F3A;
    }
    .insight-item-top h6 {
      color: #528F3A;
    }
  }
  &.warning {
    background: #FFE5D8;
    .insight-item-top span {
      background: #FF671D;
    }
    .insight-item-top h6 {
      color: #FF671D;
    }
  }
  &.info {
    background: #E3EDFF;
    .insight-item-top span {
      background: #508CF5;
    }
    .insight-item-top h6 {
      color: #508CF5;
    }
  }
}

.subscribe-lg {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #364257;
  border-radius: 16px;
  padding: 100px 150px;
  position: relative;
}

.main-page .subscribe-lg {
  margin-top: 40px;
}

.main-page .subscribe-lg:before {
  content: '';
  background: #CAD0DB;
  height: calc(100% - 120px);
  width: 20px;
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.main-page .subscribe-lg:after {
  content: '';
  background: #CAD0DB;
  height: calc(100% - 120px);
  width: 20px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.subscribe-lg h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-lg-form {
  max-width: 390px;
  margin-top: 24px;
}

.subscribe-lg-form input {
  background: #545D6B;
  color: #fff;
}

.subscribe-lg-form input::placeholder {
  color: #99A4B5;
}

.subscribe-lg-form .form-half {
  margin-bottom: 12px;
}

.subscribe-lg-form .btn-custom {
  width: 100%;
  margin-top: 24px;
}

.news {
  margin-top: 80px;
}

.news-card-wrapper {
  margin: 30px -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}

.news-card {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  overflow: hidden;
}

.news-card-img {
  width: 200px;
  flex-shrink: 0;
  height: auto;
}

.news-card-img img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

.news-card-caption {
 padding: 24px 20px;
}

.news-card-caption h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #444D6D;
}

.news-card-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444D6D;
  margin-top: 35px;
}

//*******************************footer*****************************
footer {
  background: #2F3848;
  padding: 30px 0;
}

.footer-content {
  display: flex;
}

.footer-main {
  margin-left: 170px;
  margin-right: 30px;
}

.footer-nav {
  display: flex;
}

.footer-nav li + li {
  margin-left: 40px;
}

.footer-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-phone {
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.footer-phone-numbers {
  margin-left: 12px;
}

.footer-phone-numbers p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-phone-numbers span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 2px;
  display: block;
}

.footer-top-contacts {
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.footer-top-contacts li {
  display: flex;
  align-items: center;
}

.footer-top-contacts li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: block;
  margin-left: 6px;
}

.footer-top-contacts li + li {
  margin-left: 25px;
}

.footer-social {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: fit-content;
}

.footer-social li + li {
  margin-left: 35px;
}



//*******************************footer*****************************



@import "media";